%COPYRIGHT_LINE%

#include "%MODULE_INCLUDE_PATH%"
#include "%UNPREFIXED_CLASS_NAME%.h"

%UNPREFIXED_CLASS_NAME%::%UNPREFIXED_CLASS_NAME%()
{
}

%UNPREFIXED_CLASS_NAME%::~%UNPREFIXED_CLASS_NAME%()
{
}
